*.db
build/
docker-compose.prod.yml

.devcontainer/.env
dashboard-dist/

# Python virtual environment
.venv/
.venv*

# Python cache
__pycache__/
*.pyc
vpodcasts.egg-info/


# Environment variables
.env

# macOS
.DS_Store

# Node
.pnpm-store
