@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/* Snackbar colors */
.snack-success {
  &.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #2e7d32;
    --mdc-snackbar-supporting-text-color: #ffffff;

    .mat-mdc-button.mat-mdc-snack-bar-action {
      color: #ffffff;
    }
  }
}

.snack-error {
  &.mat-mdc-snack-bar-container {
    --mdc-snackbar-container-color: #c62828;
    --mdc-snackbar-supporting-text-color: #ffffff;

    .mat-mdc-button.mat-mdc-snack-bar-action {
      color: #ffffff;
    }
  }
}