<div
  class="player-bar"
  [class.player-visible]="appStore.playingEpisode()"
  (transitionend)="onTransitionEnd()"
>
  @if (appStore.playingEpisode() || playerVisible()) {
    <audio
      #audioRef
      controls
      autoplay
      [src]="appStore.playingEpisode() ? '/episodes/' + appStore.playingEpisode()!.audio_file : undefined"
    >
      Your browser does not support the audio element.
    </audio>
  }

  <button mat-icon-button (click)="close()">
    <lucide-icon [img]="XIcon" />
  </button>
</div>